<h1>Galp천es & Estoque</h1>


<% @warehouses.each do |w| %>
    <%= w.name %>
    C처digo: <%= w.code %>
    Cidade: <%= w.city %>
    <%= w.area %> m2
    <br>
<% end %>

<% if @warehouses.empty? %>
    N찾o existem galp천es cadastrados
<% end %>