<section id="suppliers">
  <h2>Fornecedores</h2>
  <div>
    <%= link_to('Cadastrar Fornecedor', new_supplier_path) %>
  </div><br>

  <div>
    <% if @suppliers.empty? %>
      <p>Não existem fornecedores cadastrados.</p>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Localização</th>
          </tr>
        </thead>
        <tbody>
          <% @suppliers.each do |supplier| %>
          <tr>
            <td><%= link_to supplier.brand_name, supplier %></td>
            <td><%= supplier.city %> - <%= supplier.state %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

</section>